@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  height: auto;
  background-color: rgba(#262b39, 0.8);
  border-radius: 20px;
  padding: 20px 20px;
  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.25),
    0 416px 116px rgba(0, 0, 0, 0),
    0 266px 106px rgba(0, 0, 0, 0.01),
    0 150px 90px rgba(0, 0, 0, 0.05),
    0 67px 67px rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(20px);

  @include mx.respond-to('tablet') {
    padding: 20px 30px;
  }
  @include mx.respond-to('desktop') {
    padding: 20px 30px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #8397c7;

    @include mx.respond-to('tablet') {
      font-size: 42px;
      line-height: 42px;
    }
    @include mx.respond-to('desktop') {
      font-size: 54px;
      line-height: 54px;
    }
  }

  .label {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 200px;

    @include mx.respond-to('desktop') {
      font-size: 28px;
      line-height: 28px;
    }
  }
}
