@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;

.about {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: fn.rem(64);
  color: cl.$color__white;
  background-color: cl.$color__dark-gray;
  max-width: 100%;
  padding: fn.rem(16);

  @include mx.respond-to('tablet') {
    min-height: 100vh;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: fn.rem(1200);
}

.word {
  margin: 0 fn.rem(12) 0 0;
  font-family: ty.$font__main;
  font-size: ty.$heading-5;
  line-height: 150%;
  font-weight: 400;
}

.emoji {
  position: relative;
  display: none;

  @include mx.respond-to('tablet') {
    display: block;
    width: 32px;
  }
}

.lottie {
  position: absolute;
  top: -8px;
  left: -20px;
  width: 72px;
  height: 72px;
}

[data-label='developer'] .lottie {
  top: 0;
  left: -4px;
  width: 54px;
  height: 54px;
}

[data-label='brain'] .lottie {
  top: -4px;
  left: -16px;
  width: 68px;
  height: 68px;
}

[data-label='target'] .lottie {
  top: 0;
  left: -8px;
  width: 54px;
  height: 54px;
}

[data-label='tools'] .lottie {
  top: 8px;
  left: -2px;
  width: 42px;
  height: 42px;
}
