@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;

.about {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: fn.rem(64);
  color: cl.$color__white;
  background-color: cl.$color__dark-gray;
  max-width: 100%;
  padding: fn.rem(16);

  @include mx.respond-to('tablet') {
    height: 100vh;
    align-items: center;
  }
}

.content {
  max-width: fn.rem(1200);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.rem(32);
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.word {
  font-family: ty.$font__main;
  font-size: fn.rem(24);
  margin: 0;
  margin-right: fn.rem(8);
  font-weight: 400;
  z-index: 1;
  display: inline-block;

  @include mx.respond-to('tablet') {
    font-size: fn.rem(32);
    margin-right: fn.rem(12);
  }

  @include mx.respond-to('desktop') {
    font-size: fn.rem(36);
    margin-right: fn.rem(14);
  }
}
