---
type Props = {
	data: {
		copyrightName: string
		rightsLabel: string
		links: { label: string; href: string }[]
	}
}

const { copyrightName, rightsLabel, links } = Astro.props.data
---

<footer class="relative isolate w-full overflow-hidden px-4 py-6 sm:py-8">
	<div
		class="relative z-1 mx-auto flex h-auto max-w-[1200px] flex-col items-center justify-between gap-4 text-center lg:flex-row lg:gap-5"
	>
		<p class="order-1 text-medium leading-[150%] sm:text-large lg:order-0">
			&copy;{new Date().getFullYear()}
			{copyrightName}. {rightsLabel}
		</p>

		<nav aria-label="Footer navigation">
			<ul class="flex flex-wrap justify-center gap-x-7 gap-y-2">
				{
					links.map((link) => (
						<li>
							<a
								href={link.href}
								class="text-medium leading-[150%] transition-all duration-300 hover:bg-linear-gradient hover:bg-clip-text hover:text-transparent sm:text-large"
							>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
