---
const navItems = [
	{
		name: 'About',
		path: '#about',
	},
	{
		name: 'Projects',
		path: '#projects',
	},
	{
		name: 'Experience',
		path: '#experience',
	},
	{
		name: 'Skills',
		path: '#skills',
	},
	{
		name: 'Contact',
		path: '#contact',
	},
]
---

<footer class="relative isolate w-full overflow-hidden px-4 py-8">
	<div
		class="relative z-1 mx-auto flex h-0 flex-col items-center justify-between gap-4 text-center md:h-[15vh] md:flex-row md:gap-5 lg:h-[7vh] max-w-[1200px]"
	>
		<p class="order-1 text-large leading-[150%] md:order-0">
			©{new Date().getFullYear()} Yoelvys. All rights reserved.
		</p>

		<nav aria-label="Footer navigation">
			<ul class="flex flex-wrap justify-center gap-5 md:gap-7">
				{
					navItems.map((link) => (
						<li>
							<a
								href={link.path}
								class="text-large leading-[150%]  transition-all duration-300 hover:bg-linear-gradient hover:bg-clip-text hover:text-transparent"
							>
								{link.name}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
