---
import { Image } from 'astro:assets'

const navItems = [
	{
		name: 'Home',
		path: '/',
	},
	{
		name: 'About',
		path: '/about',
	},
	{
		name: 'Projects',
		path: '/projects',
	},
	{
		name: 'Experience',
		path: '/experience',
	},
	{
		name: 'Contact',
		path: '/contact',
	},
]
---

<footer
	class="relative isolate h-[15vh] min-h-[15vh] w-full overflow-hidden px-4 py-8 md:px-6 md:py-10 lg:px-0 lg:py-12"
>
	<div class="pointer-events-none absolute inset-0 z-0">
		<div
			class="absolute inset-0 z-[1] h-full w-full bg-gradient-to-b from-black/97 via-black/95 to-black/90"
			aria-hidden="true"
		>
		</div>
		<div class="absolute inset-0">
			<Image
				src="/images/footer/yoelvys.svg"
				alt="Yoelvys"
				loading="lazy"
				layout="constrained"
				width={1177}
				height={116}
				class="h-full w-full object-contain object-bottom"
			/>
		</div>
	</div>

	<div
		class="relative z-1 mx-auto flex h-0 flex-col items-center justify-between gap-4 text-center md:h-[15vh] md:flex-row md:gap-5 lg:h-[7vh] max-w-[1200px]"
	>
		<p class="order-1 text-text-large leading-[150%] text-white md:order-0">
			©{new Date().getFullYear()} Yoelvys. All rights reserved.
		</p>

		<nav class="" aria-label="Footer navigation">
			<ul class="flex flex-wrap justify-center gap-5 md:gap-7">
				{
					navItems.map((link) => (
						<li>
							<a
								href={link.path}
								class="text-text-large leading-[150%] text-white transition-all duration-300 hover:bg-linear-gradient hover:bg-clip-text hover:text-transparent"
							>
								{link.name}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
