@use '@/styles/mixins/mixins' as mx;

.section {
  max-width: 100%;
  height: 100%;
  max-height: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 100px;
  overflow: hidden;

  @include mx.respond-to('tablet') {
    padding: 100px 0 150px;
  }
  @include mx.respond-to('desktop') {
    padding: 200px 0 200px;
  }
}

.container {
  height: 100%;
  max-height: none;
  display: flex;
  flex-direction: column;
  gap: 160px;
  max-width: 1200px;
}
