@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typo' as ty;

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__paragraph {
    font-size: ty.$text-large;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
  }
}
