@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/functions' as fn;

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 16px;
  overflow: visible;

  &::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(50deg, var(--start), var(--end));
    filter: blur(100px);
    opacity: var(--opacity, 0.2);
    z-index: 0;
    pointer-events: none;
    border-radius: 50%;
    top: 50%;
  }

  &[data-align='left']::after {
    right: 0px;
    left: auto;
    transform: translate(40%, -50%);
  }

  &[data-align='right']::after {
    left: 0px;
    right: auto;
    transform: translate(-40%, -50%);
  }

  @include mx.respond-to('tablet') {
    flex-direction: row;
    padding: 0 0 0 32px;
    gap: 32px;
  }
  @include mx.respond-to('desktop') {
    padding: 0;
  }

  &__left {
    @include mx.respond-to('tablet') {
      padding: 0 32px 0 0;
    }
    @include mx.respond-to('desktop') {
      padding-right: 0;
    }
  }
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  z-index: 1;

  @include mx.respond-to('desktop') {
    gap: 32px;
  }
}

.title {
  text-align: center;
  font-family: ty.$font__secondary;
  font-size: ty.$heading-5;
  font-weight: 400;
  color: cl.$color__white;
  text-transform: uppercase;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: ty.$text-xlarge;
    color: #ffffff;
    text-wrap: pretty;
  }
}

.technologiesWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 18px;
    line-height: normal;
    font-weight: 700;
    color: #ffffff;

    @include mx.respond-to('tablet') {
      font-size: 20px;
    }
    @include mx.respond-to('desktop') {
      font-size: 24px;
    }
  }
}

.technologiesList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.technology {
  border-radius: 12px;
  background-color: rgba(#8990c7, 0.1);
  box-shadow: 0 4px 4px rgba(#1d212c, 0.25);
  padding: 6px 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: #ffffff;

  @include mx.respond-to('tablet') {
    font-size: 18px;
  }
  @include mx.respond-to('desktop') {
    font-size: 20px;
  }
}

.imageWrapper {
  position: relative;
  flex: 1;
  order: -1;

  @include mx.respond-to('tablet') {
    order: 0;
  }
}

.image {
  width: calc(100vw - 32px);
  aspect-ratio: 1.35 / 1;
  object-fit: cover;
  object-position: top left;

  @include mx.respond-to('tablet') {
    width: 100%;
  }

  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;

    @include mx.respond-to('tablet') {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include mx.respond-to('desktop') {
      border-radius: 20px;
    }
  }
}

.align_left {
  order: -1;

  .image {
    img {
      @include mx.respond-to('tablet') {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      @include mx.respond-to('desktop') {
        border-radius: 20px;
      }
    }
  }
}
