@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;

.header {
  position: relative;
  padding: fn.rems(0 16);
  display: grid;
  place-items: center;
  max-width: 100%;
  min-height: 100svh;
}

.inner {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  //text-align: center;
  margin-inline: auto;
  width: fn.rem(1200);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: fn.rem(18);

  @include mx.respond-to('tablet') {
    gap: fn.rem(32);
  }
}

.title {
  font-family: ty.$font__secondary;
  text-transform: uppercase;
  font-size: ty.$heading-1;
  line-height: normal;
  font-weight: 800;
  color: cl.$color__white;
  opacity: 0;

  span {
    color: cl.$color__pink-purple;
  }
}

.description {
  margin-top: fn.rem(12);
  color: rgba(cl.$color__white, 0.88);
  font-size: ty.$text-xlarge;
  line-height: 140%;
  max-width: fn.rem(520);
  letter-spacing: 0.02em;
  opacity: 0;

  @include mx.respond-to('tablet') {
    margin-top: fn.rem(20);
  }
}

.buttons {
  margin-top: fn.rem(24);
  display: flex;
  gap: fn.rem(16);
  justify-content: center;
  flex-wrap: wrap;

  button {
    opacity: 0;
    width: fn.rem(160);

    @include mx.respond-to('tablet') {
      width: fn.rem(180);
    }
    @include mx.respond-to('desktop') {
      width: auto;
    }
  }

  @include mx.respond-to('tablet') {
    margin-top: fn.rem(32);
  }
}

.image {
  position: absolute;
  top: -55%;
  right: 0;
  aspect-ratio: 0.73 / 1;
  width: fn.rem(500);
  object-fit: cover;
  opacity: 0;
}
