@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-neutral-950);
    background-color: var(--color-neutral-0);
  }

  h1,
  h2 {
    font-family: var(--font-display);
    font-weight: 400;
    line-height: 1.5;
  }

  h3,
  h4,
  h5 {
    font-weight: 700;
    line-height: 1.5;
  }

  h6 {
    font-weight: 400;
    line-height: 1.5;
  }

  h1 {
    font-size: var(--text-heading-1);
  }

  h2 {
    font-size: var(--text-heading-2);
  }

  h3 {
    font-size: var(--text-heading-3);
  }

  h4 {
    font-size: var(--text-heading-4);
  }

  h5 {
    font-size: var(--text-heading-5);
  }

  h6 {
    font-size: var(--text-heading-6);
  }

  p {
    color: var(--color-black);
    font-size: var(--text-large);
    line-height: 1.5;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--color-white);
    color: var(--color-black);
    padding: 8px 16px;
    text-decoration: none;
    z-index: 10000;
    font-weight: bold;
    border-radius: 4px;
  }

  .skip-link:focus {
    top: 0;
  }
}