@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;

.nav {
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  top: 24px;
  width: auto;
  height: auto;
  display: none;
  flex-direction: row;
  gap: 16px;

  @include mx.respond-to('tablet') {
    display: flex;
  }
}

.navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 8px 32px;
  border-radius: 50px;
  border: 1px solid rgba(#9bcffc, 0.1);
  backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(10, 20, 40, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);

  ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;

    li {
      font-size: 16px;
      font-weight: 500;
      text-wrap: nowrap;

      a {
        color: cl.$color__white;
        text-decoration: none;

        &:hover,
        &.active {
          background: cl.$color__linear-gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .linkButton {
        background: none;
        border: none;
        color: cl.$color__white;
        cursor: pointer;
        padding: 0;
        font: inherit;
        text-decoration: none;

        &:hover,
        &.active {
          background: cl.$color__linear-gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      svg {
        margin-top: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
