---
import Layout from '@/layouts/Layout.astro'
// import Hero from '@/sections/home/Hero.astro'
// import About from '@/sections/home/About.astro'
// import Projects from '@/sections/home/Projects.astro'
// import Experience from '@/sections/home/Experience.astro'
// import Contact from '@/sections/home/Contact.astro'
// import Skills from '@/sections/home/Skills.astro'
---

<Layout>
	<main id="main-content">
		<div class="dot"></div>
		<!-- <Hero />
		<About />
		<Projects />
		<Experience />
		<Skills />
		<Contact /> -->
	</main>
</Layout>
