@use '@/styles/variables/colors' as cl;
@use '@/styles/variables/typography' as ty;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;

.header {
  position: relative;
  padding: fn.rems(120 16);
  display: grid;
  place-items: center;
  max-width: 100%;
  height: 100%;
  min-height: 900px;
  overflow: hidden;

  @include mx.respond-to('tablet') {
    padding: fn.rems(180 16 16);
  }

  @include mx.respond-to('desktop') {
    padding: fn.rems(0 16);
    min-height: 100vh;
  }
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: fn.rem(50);

  @include mx.respond-to('tablet') {
    gap: fn.rem(100);
  }

  @include mx.respond-to('desktop') {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}

.content {
  text-align: center;
  margin-inline: auto;
  width: 100%;
  max-width: fn.rem(620);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: fn.rem(18);

  @include mx.respond-to('desktop') {
    text-align: left;
    align-items: flex-start;
    min-width: fn.rem(1200);
    margin-inline: 0;
  }
}

.title {
  font-family: ty.$font__secondary;
  text-transform: uppercase;
  font-size: ty.$heading-1;
  line-height: normal;
  font-weight: 800;
  color: cl.$color__white;
  opacity: 0;

  span {
    color: cl.$color__pink-purple;
  }
}

.description {
  color: rgba(cl.$color__white, 0.88);
  font-size: ty.$text-xlarge;
  line-height: 140%;
  max-width: fn.rem(620);
  letter-spacing: 0.02em;
  opacity: 0;

  @include mx.respond-to('tablet') {
    margin-top: fn.rem(20);
  }
}

.buttons {
  margin-top: fn.rem(24);
  display: flex;
  gap: fn.rem(16);
  justify-content: center;
  flex-wrap: wrap;

  button,
  a {
    opacity: 0;
    width: fn.rem(160);

    @include mx.respond-to('tablet') {
      width: fn.rem(180);
    }
    @include mx.respond-to('desktop') {
      width: auto;
    }
  }

  @include mx.respond-to('tablet') {
    margin-top: fn.rem(32);
  }

  @include mx.respond-to('desktop') {
    justify-content: flex-start;
  }
}

.image {
  position: relative;
  aspect-ratio: 504 / 688;
  width: fn.rem(300);
  height: auto;
  opacity: 0;
  order: 2;
  right: 32px;

  @include mx.respond-to('tablet') {
    width: fn.rem(350);
    height: auto;
  }

  @include mx.respond-to('desktop') {
    position: absolute;
    top: -55%;
    right: 0;
    width: fn.rem(500);
    height: auto;
    order: 0;
  }

  .tagHeader {
    position: absolute;
    z-index: 1;

    &:nth-child(1) {
      top: 10%;
      right: -20%;
    }

    &:nth-child(2) {
      bottom: 26%;
      left: -2%;
    }

    &:nth-child(3) {
      bottom: 0%;
      right: -20%;
    }

    @include mx.respond-to('tablet') {
      &:nth-child(1) {
        top: 10%;
        right: -20%;
      }

      &:nth-child(2) {
        bottom: 28%;
        left: -10%;
      }

      &:nth-child(3) {
        bottom: 14%;
        right: -40%;
      }
    }

    @include mx.respond-to('desktop') {
      &:nth-child(1) {
        top: 16%;
        right: 0%;
      }

      &:nth-child(2) {
        bottom: 28%;
        left: 10%;
      }

      &:nth-child(3) {
        bottom: 14%;
        right: -20%;
      }
    }
  }
}
