$color__white: #ffffff;
$color__black: #000000;
$color__dark-gray: #121212;

$color__pink-purple: #86a7ff;
$color__violet-blue: #9bcffc;

$color__linear-gradient: linear-gradient(
  to right,
  $color__pink-purple 0%,
  $color__violet-blue 100%
);
