@use '@/styles/variables/colors' as cl;
@use '@/styles/mixins/mixins' as mx;
@use '@/styles/mixins/functions' as fn;
@use '@/styles/variables/typography' as ty;

.section {
  height: 100%;
  min-height: 100%;
  padding-top: 100px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include mx.respond-to('tablet') {
    padding-top: 150px;
  }
  @include mx.respond-to('desktop') {
    padding-top: 200px;
  }

  h1 {
    text-align: center;
    font-family: ty.$font__secondary;
    font-size: ty.$heading-2;
    font-weight: 400;
    color: cl.$color__white;
    text-transform: uppercase;

    @include mx.respond-to('tablet') {
      font-size: fn.rem(54);
    }
    @include mx.respond-to('desktop') {
      font-size: fn.rem(64);
    }

    span {
      color: cl.$color__pink-purple;
    }
  }

  p {
    font-size: 16px;
    color: #ffffff;
    line-height: normal;
    max-width: 600px;
    text-wrap: pretty;

    @include mx.respond-to('tablet') {
      font-size: 18px;
    }
    @include mx.respond-to('desktop') {
      line-height: 28px;
      font-size: 20px;
    }
  }
}
