<span
	class="relative flex size-12 items-center justify-center rounded-full border border-black sm:size-14 md:size-16"
	aria-hidden="true"
>
	<svg viewBox="0 0 14 24" class="size-4 translate-x-0.5 fill-black sm:size-5 md:size-6">
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="m12.775 13.244-9.9 9.9L.4 20.67l8.663-8.663L.4 3.345 2.875.87l9.9 9.9a1.75 1.75 0 0 1 0 2.474Z"
		></path>
	</svg>
</span>
